{{#properties}}
    "page_title": "Change tracker"
{{/properties}}
<div class="wrapper">
  <h2>Hi there</h2>
  <div class="breakdown">
    <big><a href="{{login}}">Login</a></big> to access Change Tracker
  </div>
</div>