<!DOCTYPE html>
<html>
    <head>
        <title>{{page_title}}</title>
        <script src="/javascripts/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    		<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
    		
        <link rel="apple-touch-icon" href="/images/icon57.jpg" />
        <link rel="apple-touch-icon" sizes="72x72" href="/images/icon72.jpg"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/images/icon114.jpg"/>

    </head>
    <body>
    {{{body}}}
    </body>
</html>