{{#properties}}
    "page_title": "Token tracker"
{{/properties}}

<div id="search">
  <a href="{{login}}">Login</a>
</div>
<div class="wrapper">
  <h3><a href="#">Add a new code</a></h3>
  <ul>
    <form method="post" action="/deposit">
      <li><label for="token">code</label><input type="text" name="token"></li>
    </form>
  </ul>  
</div>